<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js">
</script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js'></script>

    <script type="text/javascript">
      var myApp = angular.module('app' , []);
      myApp.controller("serviceExample" , [ '$scope' , 'me' ,function($scope , me){
          $scope.namealert = me.sayme;

      } ]).factory('me' , [ function(){
          var self = this;
           self.sayme = function(){
            alert('hi');
          }
          return self;
      } ]);
    </script>

  </head>
  <body ng-controller='serviceExample as se'>
    <input type="text" ng-model="name"/>
    <button ng-click="namealert()" value="haha">nsd</button>
  </body>
</html>
